#item-container{
    position: absolute;
    left: 40;
    top: 325;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.35);
    padding: 14;
    border-radius: 20;
    /* animation: scale-from-zero 0.6s ease-out forwards; */
}
