#outline{
    left: 190;
    top: 110;
    width: 215;
    height: 215;
    background-color: rgb(179, 176, 135);
    border-radius: 140;
    border-width: 3;
    border-color: black;
    /* animation: scale-from-zero 0.6s ease-out forwards,
            disappear 1.5s linear 15s forwards,
            scale-to-zero 1.5s linear 15s forwards; */
}
#bar-left{
    top: -30;
    left: -30;
    width: 200;
    height: 200;
    animation: rotating 7.5s linear 7.5s forwards,
            turn-to-red 3s linear 9s forwards;
}
#bar-right{
    top: -30;
    left: -30;
    width: 200;
    height: 200;
    animation: rotating 7.5s linear, change-color 0s linear 7.5s forwards;
}
#count{
    left: 0;
    top: 7;
    width: 140;
    height: 140;
    font-family: "FTY OverKill Machined", "FTYOverKill Machined_NC";
    font-weight: 400;
    font-size: 100;
    text-align: center;
}
#counter{
    top: 35;
    left: 35;
    width: 140;
    height: 140;
    background-color: white;
    box-shadow: 0 0 0 30 #e2ded4;
    border-radius: 200;
}
