#results{
    left: 60;
    top: 40;
    text-align: center;
    background-color: rgba(63, 63, 63, 0.35);
    padding: 14;
    border-radius: 20;
    visibility: hidden;
    /* animation: scale-from-zero 0.6s ease-out forwards; */
}
.info{
    margin: 0;
    font-family: "Bahnschrift", "bahnschrift";
    font-weight: 400;
    font-size: 20;
    color: white;
    text-shadow: 0 -1 black;
}

#result{
    font-family: "Bahnschrift", "bahnschrift";
    font-weight: 800;
    font-size: 50;
    color: #f66037;
    text-shadow: 4 4 black;
}
#procentage{
    font-family: "Terminus (TTF) Medium", "Terminus";
    font-weight: 800;
    font-size: 45;
    color: white;
    margin: 5 0;
    text-shadow: 0 -1 black;
}
